<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Регистрация</title>
    <link rel="stylesheet" href="reg.css">
</head>
<section id="header"><script src="../menu/navigation.js"></script></section>
<body>
    <div class="container">
    <h2>Регистрация</h2>
      <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="button-1" onclick="createUser()">Создать аккаунт</button>
      </div>
      <script src="../queries/query.js">
      </script>
    </div>
</body>
</html>