<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="reg.css">
</head>
<header>
  <!--React добавить меню-->
</header>
<body>
    <div class="container">
    <h2 id="sign">Войти в аккаунт</h2>
      <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="button-1">Вход</button>
      </div>
    </div>
</body>

</html>