<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="reg.css">
</head>
<section id="header"><script src="../menu/navigation.js"></script></section>
<body>
    <div class="container">
    <h2 id="sign">Войти в аккаунт</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="button-1" onclick="signIn()">Вход</button>
        <script src="../queries/query.js">
        </script>
      </div>
    </div>
</body>

</html>