<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рецепт</title>
  <link rel="stylesheet" href="./css/recipe.css">
  <link rel="stylesheet" href="./css/reset.css">
  
</head>
<body>
  <section id="header"><script src="navigation.js"></script></section>

  <main class="main">
 
    <section class="intro">
      <div class="wrapper">
        <div class="cont">
          <div class="photo"></div>
            <h1 class="intro_title">
              Ингредиенты
            </h1>
            <div class="ingr-field"></div>
        </div>

        <h2 class="cooking_title">
          Приготовление:
        </h2>

        <div class="cooking-field"></div>

        <h3 class="comment_title">
          Коментарии
        </h3>

        <div class="comment-field">
      
          <div class="comment-field1">
            пользователь
          </div>
          <div class="comment-field2">
            комментарий
          </div>

        </div>

        <div class="comm">
          <label for="comm">Оставить комментарий</label>
          <input type="text" class="comm-field" placeholder="Написать комментарий">
          <button class="input-button"><p class="p">Отправить</p></button>
        </div>
      </div>

    </section>
    
    <section class="twopart">
      <div class="twopart_cont">
        <div class="left">
          <p>Наши социальные сети:</p>
          <p class="l1">t.me.receptic</p>
          <p class="l1">vk.com/receptic</p>        
      </div>
      <div class="right">
        <p class="l1">Телефон поддержки: +7 (899) 456-67-56</p>
      </div>
    </div>
    </section>
    
  </main>
  
</body>
</html>
    

