<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Главная</title>
        <meta http-equiv="content-type" content="text/html; charset=windows-1251">
        <meta name="description" content="Лучший сайт о рецептах!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="../queries/query.js"></script>
    </head>
    <section id="header"><script src="../menu/navigation.js"></script></section>
    <section class="content">
        <div class="top_block">
            <div class="text">
                <div class="bold_text"><p>Простые рецепты приготовления блюд</p></div>
                <div class="ordinary_text"><p>Рецепты самых вкусных, доступных и популярных с подробным пошаговым описанием технологий приготовления. Будем рады видеть Ваши дополнения и варианты приготовления в комментариях.</p></div>
            </div>
            <div class="buttons">
                <button class="sign_in" onclick="window.location.href = 'D:/working%20table/Study/Project_Cookbook/src/components/pages/registration/signIn.html'">Войти</button>
                <button class="registration" onclick="window.location.href='D:/working%20table/Study/Project_Cookbook/src/components/pages/registration/reg.html'">Регистрация</button>
            </div>
        </div>
        <img class="pizza" src="pictures/image1.png" alt="Пицца"></img>
        <div class="buttom_block">
            <div class="popular_recipes"><p>Популярные рецепты</p></div>
            <div class="card_1">
                <p id="data_2">Название рецепта</p>
                <div id="recipe_image_2"></div>
            </div>
            <div class="card_2">
                <p id="data_0">Название рецепта</p>
                <div id="recipe_image_0"></div>
            </div>
            <div class="card_3">
                <a href='D:\working table\Study\Project_Cookbook\src\components\pages\recipe\recipe.html' id="data_1">Название рецепта</a>
                <div id="recipe_image_1"></div>
            </div>
        </div>
    </section>
    <section id="footer">
    </section>
</html>