<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Главная</title>
        <meta name="description" content="Лучший сайт о рецептах!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
    <header>
        <nav href="../menu/navigation.html">
            <script src="../menu/navigation.js"></script> <!--Мб не так!!!!!!!!!-->
            <!--React добавить меню-->
        </nav>
        <div class="boldText"><p>Простые рецепты приготовления блюд</p></div>
        <div class="ordinaryText"><p>Рецепты самых вкусных, доступных и популярных с подробным пошаговым описанием технологий приготовления. Будем рады видеть Ваши дополнения и варианты приготовления в комментариях.</p></div>
        <img class="pizza" src="pictures/pizza22.png" alt="Пицца"></img>
    </header>
    <body>
        <div class="popularRecepies"><p>Популярные рецепты</p></div>
        <div class="allRecepies"><p>Все рецепты</p></div>
        <button class="arrow">
            <div class="butArr"></div>
        </button>
        <div class="card">
            <div id="card1">
            
            </div>
            <div class="card2">
                <div nameOfRecipe><!--Тут будет прописан запрос в бд, для вывода названия рецепта--></div>
                <div pictureForNeedRecipe><!--Тут будет прописан запрос в бд, для вывода соответствующей картинки--></div>
            </div>
            <div class="card3">
                <div nameOfRecipe><!--Тут будет прописан запрос в бд, для вывода названия рецепта--></div>
                <div pictureForNeedRecipe><!--Тут будет прописан запрос в бд, для вывода соответствующей картинки--></div>
            </div>
            <div class="card4">
                <div nameOfRecipe><!--Тут будет прописан запрос в бд, для вывода названия рецепта--></div>
                <div pictureForNeedRecipe><!--Тут будет прописан запрос в бд, для вывода соответствующей картинки--></div>
            </div>
            <div class="card5">
                <div nameOfRecipe><!--Тут будет прописан запрос в бд, для вывода названия рецепта--></div>
                <div pictureForNeedRecipe><!--Тут будет прописан запрос в бд, для вывода соответствующей картинки--></div>
            </div>
            <div class="card6">
                <div nameOfRecipe><!--Тут будет прописан запрос в бд, для вывода названия рецепта--></div>
                <div pictureForNeedRecipe><!--Тут будет прописан запрос в бд, для вывода соответствующей картинки--></div>
            </div>
            <button class="seeAllNewRecepies"><p class="seeAllNewRecepiesText">Смотреть все новые рецепты</button>
        </div>
    </body>
    <footer>
        <div class="tellAboutAs"><p class="footerText">Расскажи о нас всем!</p></div>
    </footer>
    
</html>