<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:5500/main/main.html">Главная</a></li>
            <li><a href="/*тут будет ссылка на завтраки*/"></a></li>
            <li><a href="/*тут будет ссылка на обеды*/"></a></li>
            <li><a href="/*тут будет ссылка на ужины*/"></a></li>
            <li><a href="/*тут будет ссылка на десерты*/"></a></li>
            <li><a href="/*тут будет ссылка на напитки*/"></a></li>
            <li><a href="/*тут будет ссылка на избранное*/"></a></li>
            <li><a href="/../registration/signIn.html">Войти</a></li>
            <li><a href="/../registration/reg.html">Регистрация</a></li>
            <li><a href="/*тут будет ссылка на добавление рецепта*/"></a></li>
            <li><a href="/*поиск*/"></a></li>
        </ul>
    </nav>
</body>
</html>